.App {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; // Prevent horizontal scroll
  font-family: 'Anton', sans-serif;
  scroll-behavior: smooth;// Hide scrollbar in most browsers
body::-webkit-scrollbar {
  width: 0; // Hides scrollbar in WebKit browsers (e.g., Chrome, Safari)
}
}

// Background gradient only on the body to ensure it covers the entire page height
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  min-height: 100vh;
  overflow-y: scroll; // Ensures scroll behavior without visible scrollbar
}


