.embersCanvas {
  display: block;
  width: 100%;
  height: 100px; // Restrict the canvas height to 100px for a "rising" effect
  position: relative;
  top: -100px; // Move it up slightly to overlap with the footer
  pointer-events: none; // Prevent any interaction with the canvas
  
}
